/*
########################################
                  Global
########################################
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



/*
########################################
                  Header
########################################
*/

/*
########################################
                  Main
########################################
*/

/*
########################################
                  Footer
########################################
*/
footer {
    background-color: #7eab60;
}